{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<head>
    <meta charset="utf-8">
    {% if debug %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}algorithm/style.css?after">
    {% else %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}algorithm/style.css">
    {% endif %}
</head>

<body>

<h1>알고리즘 세트표</h1>

{% if sets %}
    <table>
        <caption>갱신일: {% now "Y-m-d" %}</caption>
        <tr>
            <th>인형</th>
            <th>공격성</th>
            <th>안정성</th>
            <th>특이성</th>
        </tr>
    {% for s in sets %}
        <tr>
            <td class="doll">
                <figure>
                    <img src="{{ STATIC_PREFIX }}algorithm/doll_icon/{{ s.doll.name|lower }}.webp">
                    <figcaption>
                    {% with s.doll.get_doll_class_display|lower as doll_class %}
                        <img src="{{ STATIC_PREFIX }}algorithm/class_icon/{{ doll_class }}.webp" class="class_icon {{ doll_class }}"> {{ s.doll.name_kr }}
                    {% endwith %}
                    </figcaption>
                </figure>
            </td>
        {% for a in s.algorithm_list %}
            <td>
                <figure>
                    <img src="{{ STATIC_PREFIX }}algorithm/algo_icon/{{ a.algorithm.icon }}.webp" class="algorithm_icon">
                    <figcaption><b>{{ a.algorithm.name_kr }}</b><br>{{ a.primary }}</figcaption>
                </figure>
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <table>
        <tr>
            <th>사용처 없음</th>
        </tr>
        <tr>
            <td>
            {% for a in useless_algos %}
                <figure>
                    <img src="{{ STATIC_PREFIX }}algorithm/algo_icon/{{ a.icon }}.webp" class="algorithm_icon">
                    <figcaption>{{ a.name_kr }}</figcaption>
                </figure>
            {% endfor %}
            </td>
        </tr>
    </table>
    <figure class="references">
        <figcaption>References</figcaption>
        <ul>
            <li><a href="https://nalu.wiki/neuralcloud"></a></li>
            <li><a href="https://tangible-sorrel-c22.notion.site/PNCDB-dc548a0c6a8d4a4c839cdf2309ca6feb"></a></li>
            <li><a href="https://gall.dcinside.com/mgallery/board/view/?id=neuralcloud&no=183853"></a></li>
            <li><a href="https://arca.live/b/neuralcloud/64304242"></a></li>
            <li><a href="https://gall.dcinside.com/mgallery/board/view/?id=neuralcloud&no=72218"></a></li>
        </ul>
    </figure>
{% else %}
    <h1>NO DATA</h1>
{% endif %}

</body>